body,html{
    color: #fff;
}
.rose-color{
   color: #e00079;
}
.blue-titles {
    color: #2eaadc; 
}
.bold-text{
    font-weight: bold !important;
}
.alert-danger{
    background: #e00079;
    color: #fff;
    border-radius: 15px;
}
/* tooltip */
.tippy-tooltip.honeybee-theme { 
    color: #e00079;
    font-weight: bold;
    font-size: 16px;
} 
.bootstrap-filestyle .btn-secondary {
    background: #e00079;
    color: #fff;
    border: none;
}
.bootstrap-filestyle .btn-secondary:hover {
    background: #0a0a0a;
    transition: all 0.5s;
}
/* navbar */ 
/* active  */
.active-nav{
    background: rgba(224, 0, 121, 0.5);

}
/* end of active  */
.navbar{
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 8px;
    font-size: 16px; 
}
.navbar-rose{
    background: rgba(224, 0, 121,0.5);
}
.navbar ul li a{
    color: #fff;
}
.navbar-toggler{
    color:#fff;
}
.navbar-toggler:hover{
    color:#e00079;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.6s;
}

.navbar-collapse ul li a {
    text-align: center;
    font-size: 16px;
}
.navbar-collapse ul li a:hover {
    background: #fff;
    color: #000;
    transition: all 0.6s;
} 
/* end of navbar */

/* header image block */
.full-image-block img{
    width: 100%;
    height: 100%;
}
.full-image-block {
    position: relative;
    height: 690px;
}
.full-image-content-overlay{
    background: rgba(0, 0, 0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.full-image-content-overlay .overlay-logo {
    max-width: 800px;
    display: block;
    margin: 0 auto;
}
.full-image-content-overlay .text-block{
    color: #fff;
    padding: 10px;
}
.full-image-content-overlay .text-block h1{
    font-weight: bold;
}
.vertical-align {
    margin-top: 10%;
}
/*end of header image block */

/* notice-board */
.notice-board{
    padding: 10px;
    background: #e00079;
    color: #fff;
}
.notice-board h1{
    font-weight: bold;
}
/* end of notice-board */

/* page-categories */
.page-categories-wrap{
    background: #2eaadc;
    color: #fff;
}

.page-categories-wrap a{ 
    color: #fff;
    text-decoration: none;
}
.page-categories-wrap .ico-block { 
    width: 130px;
    height: 130px;
    margin: 0 auto;
    /* padding: 10%; */
    border-radius: 100%;
    background: #fff;
    color: #2eaadc;
    box-sizing: border-box;
}  
.page-categories-wrap .ico-block i{  
    margin-top: 500px;
}  

.page-categories-wrap .cat-text-block p{ 
    font-weight: 300;
    font-size: 14px;
}
.page-categories-wrap .ico-block .ico{
   margin-top: 30px;
   font-size: 70px;
}
.page-categories-wrap .ico-block:hover {
    background: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
}
.sponsor-wrap{
    background: #fff;
    color: #0a0a0a;
    text-transform: uppercase;
    font-size: 16px;
}
.sponsor-logo-block{
    margin: 0 auto;
    width: 150px;
}
.sponsor-logo-block .sponsor-img {
    width: 100%;
}
/* end of page-categories */
/* founder-block */
.founder-block-wrap{
    background: #d5d5d5;
}
.founder-block-wrap .founder-image img{
    width: 85%;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
} 

.founder-block-wrap .founder-name {
   font-size: 18px;
}


.founder-block-wrap .founder-right-block .major-content .major-text-block {
    line-height: 15px;
    font-size: 16px;
    color: #0a0a0a; 
}
.founder-block-wrap .founder-right-block .major-content .major-text-block .major-of-text {
    font-size: 12px;
    
}
.founder-block-wrap .founder-right-block .major-img-block img{
    width: 100%;
    border-radius: 100%;
}

/* end of founder-block */

/* follow-us block */
    .follow-us-block{
        background: #e00079;
    }
    .follow-us-block .social-ico-item {
        background: #fff;
        color: #e00079;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        padding-top: 10px;
        font-size: 35px;
        margin: 0 auto;
    }
    .follow-us-block .facebook:hover {
        color: #4267b2;
    }
    .follow-us-block .youtube:hover {
        color: #ff0000;
    }
    .follow-us-block .twitter:hover {
        color: #499ef4;
    }
    .follow-us-block .instagram:hover  {
         color: #517fa4;
    }
    .follow-us-block .social-ico-item:hover{
        background: rgba(255, 255, 255, 0.7);
        transition: all 0.5s;
    }
/* end of follow-us block */
/* footer */
footer{
    background: #2eaadc;
}
footer .footer-content p {
    padding: 0;
    margin: 0;
    font-size: 14px; 
}

/* end of footer */

/* requirements-block */
    .requirements-block{
        color: #0a0a0a;
    }
/* end of requirements-block */



/* logo block */
    .logo-block{
        margin-top: 80px;
    }
    .logo-block img{
        width: 30%;
    }
/* end of logo block */

/* photos */

.photos-wrap .gal {  
        -webkit-column-count: 5;
         -moz-column-count: 5;
         column-count: 5; 
}  
.photos-wrap  .gal img{  
    width: 100%;
    margin-top: 10px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}  
.photos-wrap  .gal img:hover{ 
      filter: blur(2px);
}  
/* end of photos */

/* videos */
.videos .video-wrap  {  
    margin: 0;
}
.videos .video-wrap .video-items .video-thumb-block {
    position: relative;
}
.videos .video-wrap .video-items {
    padding: 5px;
    margin-top: 20px;
}
.videos .video-wrap .video-items .video-thumb-block .video-duration{ 
    position:absolute;
    right: 0;
    bottom:0;
    color: #0a0a0a;
    background: rgba(255, 255, 255, .75);
    padding: 0 2px;
}
.videos .video-wrap .video-items img.youtube-thumb {
    width: 100%;
    height: 180px;
}
.videos .video-wrap .video-items .video-text-block {
    font-size: 18px; 
    height: 60px; 
}
.videos .video-wrap .video-items .video-views-date {
    font-size: 14px; 
}
.videos .video-wrap .video-items .video-text-block:hover h7 {
    color: #000;
    transition: color 0.3s;
}
.videos .video-wrap .video-items .video-text-block a { 
    text-decoration: none;
}
/* end of videos */

/* contact */
.contact-wrap{
    color: #0a0a0a;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { 
  font-family: Poppins-Medium;  
  color: #555555;
}
input:-moz-placeholder { 
  font-family: Poppins-Medium;  
  color: #555555;
}
input::-moz-placeholder { 
  font-family: Poppins-Medium;  
  color: #555555;
}
input:-ms-input-placeholder { 
  font-family: Poppins-Medium;  
  color: #555555;
}

textarea::-webkit-input-placeholder { 
  font-family: Poppins-Medium;  
  color: #555555;
}
textarea:-moz-placeholder { 
  font-family: Poppins-Medium;  
  color: #555555;
}
textarea::-moz-placeholder { 
  font-family: Poppins-Medium;  
  color: #555555;
}
textarea:-ms-input-placeholder { 
  font-family: Poppins-Medium;  
  color: #555555;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*---------------------------------------------*/
.container {
	max-width: 1200px;
}




/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: transparent;
  position: relative;
  z-index: 1;
}

.contact100-map {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.wrap-contact100 {
  width: 1170px;
  background: #fff;
  border-radius: 10px;
  padding: 82px 180px 33px 180px;
  position: relative;
  display: none;
}

.show-wrap-contact100 {
  visibility: visible;
  opacity: 1;
}


/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 68px;
}
 

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-bottom: 65px;
}

.rs1-wrap-input100 {
  width: calc((100% - 30px) / 2);
}
 
.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-SemiBold;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding: 0 5px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #ff4b5a;
}


/*---------------------------------------------*/
input.input100 {
  height: 40px;
}


textarea.input100 {
  min-height: 110px;
  padding-top: 9px;
  padding-bottom: 13px;
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-top: -25px;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background: #e00079; 
  border-radius: 25px;

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
}

.contact100-form-btn i {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background-color: #333333;
  box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}

.contact100-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}
 /* end of  contact */

/* about */
.about-wrap .about{
    color: #0a0a0a;
}
/* end of about */

/* news */
.news-wrap .news-items{
    color: #0a0a0a;
}
.news-wrap .news-items span.date{
    color: #707070;
    font-size: 14px;
}
.news-wrap .news-items .news-thumb-block  {
    margin-bottom: 5px;
}
.news-wrap .news-items .news-thumb-block img {
    width: 100%;
    height: 180px;
} 
.news-wrap .news-items .news-text-block  {
   font-size: 14px;
   height: 65px; 
}
.news-wrap .news-items .description-block  {
   font-size: 14px;
   height: 180px; 
}
.single-wrap .single-news .news-image img {
    width: 100%; 
}
.single-wrap .single-news {
    color: #0a0a0a;
}
.single-wrap .single-news .news-date {
    color: #3e3c3c;
    font-size: 13px;
}
/* end of news */

/* press */
.press-wrap .press-item{
    background-color: #e3f3f9;
    min-height: 220px;
    box-sizing: border-box;
    margin-right: 10px;
    margin: 0 auto;
}
.press-wrap .press-item .press-image-block { 
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
} 
.press-wrap .press-item .press-text-block p{
    color: #0a0a0a;
    font-size: 14px;
}
/* end of press */
.red{
    outline: 4px solid red;
}










/* media queries */
@media screen and (max-width: 960px) {  
    .founder-block-wrap h3,
    .founder-right-block h3 {
        font-size: 22px;
        text-align: center !important;
    } 
    .founder-block-wrap p,
    .founder-right-block  p{
        text-align: center !important;
    } 
.wrap-contact100 {
    padding: 82px 80px 33px 80px;
}
}
@media screen and (max-width: 768px) {  
    .follow-us-block .social-ico-item {
       margin-top: 15px;
       font-size: 22px;
       width: 50px;
       height: 50px;
       padding-top: 10px;
    }
      .rs1-wrap-input100 {
          width: 100%;
      }
     
}
@media screen and (max-width: 730px) {
    h1{
        font-size: 24px;
    }
    .full-image-block {
        height: 520px !important;
    }
    .logo-block img {
        width: 50%;
    }
    .full-image-content-overlay .text-block {
        color: #fff;
        padding: 10px;
    }

    .full-image-content-overlay .text-block h1 {
        font-size: 24px;
    }
    .full-image-content-overlay .text-block h4 {
        font-size: 20px;
    }

    .vertical-align {
        margin-top: 10%;
    }
.photos-wrap .gal {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
} 
}
@media screen and (max-width: 580px) {
    .full-image-block {
        height: 480px !important;
    }
     .logo-block img {
         width: 60%;
     }
    .notice-board h4{ 
        font-size: 16px; 
    }

    .notice-board h1 {
        font-size: 24px;
    }
     .wrap-contact100 {
         padding: 0px 15px 0px 0px;
     }
}
@media screen and (max-width: 576px) {
    .video-items {
        padding: 0;
        margin: 0;
    }
  .videos .video-wrap .video-items img.youtube-thumb{
      height: auto;
  }
   .news-wrap .news-items .news-thumb-block img {
       width: 90%;
       display: block;
       margin: 0 auto;
       height: 200px;
       margin-bottom: 10px;
   }

    .press-wrap .press-item .press-text-block {
      text-align: center;
   }
    .press-wrap .press-item .press-image-block {
        height: 250px;  
        background-size: contain;
        margin-top: 10px;
   }
}
@media screen and (max-width: 480px) {
    .full-image-block {
        height: 400px !important;
    }
        .full-image-content-overlay .text-block h1 {
            font-size: 22px;
        }

        .full-image-content-overlay .text-block h4 {
            font-size: 18px;
        }

}


/* end of media queries */
